  <h4>Upload a profile pic</h4>

  <%= form_for(@user, multipart: true) do |f| %>
    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :avatar %>
    </div>
    <div class="actions">
      <%= f.submit 'Add photo' %>
    </div>
  <% end %>
