
<% if !user_signed_in? %>
<div class="spacer"></div>
<h1 class="center">Welcome to FLEX</h1>
  <h3 class="center">Stay accountable, make friends and hit the gym!</h3>
  <br>
  <img src="https://www.emojibase.com/resources/img/emojis/apple/x1f4aa.png.pagespeed.ic.qZG9DBXHxk.png" alt="Flex Logo">
<% end %>
<% if user_signed_in? %>
  <div class='container'>
    <div id="gyms">
      <p><%= link_to "View Gyms", root_path, id: "gyms-link"  %></p>
      <ul id="gyms-pylon">
      </ul>
    </div>
    <div id="pref">
    <% if current_user.preference == nil %>
        <%= link_to "Preferences",  new_preference_path, id: "new-pref" %>
    <% else %>
        <%= link_to "Update FlexMate Preferences", edit_preference_path(current_user.preference.id), id:"update-pref" %>
      <!-- <div id="show-users"> -->
        <p><%= link_to "View FlexMates", users_path, id: "matched-users"  %></p>
    <% end %>
<% end %>

